/* General Styles */
body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Header and Navigation */
header {
  background-color: #2c3e50; /* Dunkles Blau */
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo img {
  height: 100px;
  width: auto;
}

.auth-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 20px 20px 20px;
}

.auth-buttons form {
  margin-left: 10px;
}

.auth-buttons button {
  padding: 8px 16px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #3498db; /* Sanftes Violett */
  color: #fff;
}

.auth-buttons button:hover {
  background-color: #2980b9; /* Dunkleres sanftes Violett */
  transform: scale(1.05);
}

/* Main Container */
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

/* Side Menu */
.side-menu {
  width: 200px; /* Feste Breite */
  background-color: #2c3e50; /* Dunkles Blau */
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  flex-shrink: 0; /* Verhindert, dass das Menü schmaler wird */
}

.side-menu ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-menu ul.menu li {
  margin-bottom: 15px;
}

.side-menu ul.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s, transform 0.3s;
}

.side-menu ul.menu li a:hover {
  color: #ff6347;
  transform: scale(1.05);
}

/* Main Content */
main {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

video {
  width: 80%;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: #2c3e50; /* Dunkles Blau */
  color: #fff;
  text-align: right;
  padding: 5px 20px;
  font-size: 12px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header,
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .side-menu {
    width: 200px; /* Feste Breite */
    background-color: #2c3e50; /* Dunkles Blau */
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    flex-shrink: 0; /* Verhindert, dass das Menü schmaler wird */
  }

  .side-menu ul.menu {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .side-menu ul.menu li {
    margin-bottom: 0;
  }

  .auth-buttons {
    margin-top: 10px;
    justify-content: center;
  }

  footer {
    text-align: center;
  }
}

/* --------------------------------------------- */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.language-selector {
  display: flex;
  align-items: center;
}

.language-selector img {
  width: 20px; /* Breitere Flagge */
  height: 12px; /* Kleinere Flagge */
  cursor: default;
  margin-right: 10px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 300px; /* Höchsthöhe des Bildes */
}

.flag-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}

.flag-button img {
  display: block;
  pointer-events: none; /* Ensures the entire button is clickable */
}

/*-------------------------- */
#team {
  text-align: center;
  padding: 20px;
}

#team p {
  font-size: 18px;
  margin-bottom: 40px;
}

.team-row {
  display: flex;
  justify-content: center; /* Zentriere die Inhalte */
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.team-member {
  flex: 1 1 45%; /* Flex-grow, flex-shrink, flex-basis */
  max-width: 45%;
  margin: 20px;
  text-align: center;
  box-sizing: border-box; /* Sicherstellen, dass Padding und Border in der Breite enthalten sind */
}

.team-member img {
  width: 100%;
  max-width: 200px; /* Max width for the images */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Statt runden Bildern */
  object-fit: cover; /* Proportionen beibehalten */
}

.team-member h2 {
  font-size: 20px;
  margin: 10px 0 5px;
}

.team-member p {
  font-size: 16px;
  color: #555;
  min-width: 150px; /* Mindestbreite für die Beschreibung */
  word-wrap: break-word; /* Ermöglicht das Umbrechen langer Wörter */
}

.team-member blockquote {
  font-style: italic;
  color: #777;
  min-width: 150px; /* Mindestbreite für die Kommentare */
  word-wrap: break-word; /* Ermöglicht das Umbrechen langer Wörter */
}
/* Contact Page */
#contact {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; /* Center the contact section */
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-media img:hover {
  transform: scale(1.1);
}

.contact-form {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
/* Impressum Page */
#impressum {
  text-align: left;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; /* Center the impressum section */
}

#impressum p {
  margin-bottom: 20px;
}
/* Login Page */
#login {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; /* Center the login section */
}

.login-form {
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin: 10px 0 5px;
}

.login-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}

.login-form button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
.auth-buttons a {
  text-decoration: none;
  margin-left: 10px;
}

.auth-buttons button {
  padding: 8px 16px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #3498db; /* Sanftes Violett */
  color: #fff;
}

.auth-buttons button:hover {
  background-color: #2980b9; /* Dunkleres sanftes Violett */
  transform: scale(1.05);
}
