<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="language" content="de" />
    <meta name="language" content="en" />
    <meta
      http-equiv="Content-Security-Policy"
      content="
      default-src 'self'; 
      script-src 'self'; 
      style-src 'self' 'unsafe-inline'; 
      img-src 'self' data:; 
      font-src 'self' data:; 
      frame-src 'self'; 
      child-src 'self';
      connect-src 'self';"
    />
    <meta http-equiv="Permissions-Policy" content="usb=*, battery=*" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/ch4ngo88/LearnIA/main/frontend/assets/images/logo.png"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/sanitize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Impressum - LearnIA</title>
    <meta
      name="description"
      content="Intelligente, personalisierte Lernplattform"
    />
    <meta
      name="keywords"
      content="Lernplattform, intelligente Lernplattform, personalisierte Lernplattform, Bildung, E-Learning"
    />
    <meta
      name="author"
      content="Marco da Silva, Clara Rosenhahn, Sascha Kalnins, Stephanie Ong"
    />
    <link rel="canonical" href="https://github.com/ch4ngo88/LearnIA" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="Impressum - LearnIA" />
    <meta
      property="og:description"
      content="Intelligente, personalisierte Lernplattform"
    />
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="../assets/images/logo.png" alt="LernIA Logo" />
        </div>
      </div>
    </header>

    <div class="auth-buttons">
      <a href="login.html"><button>Login</button></a>
      <a href="register.html"><button>Registrierung</button></a>
    </div>

    <div class="main-container">
      <nav class="side-menu">
        <ul class="menu">
          <li><a href="../../index.html">Startseite</a></li>
          <li><a href="info.html">Über LearnIA</a></li>
          <li><a href="aboutus.html">Unser Team</a></li>
          <li><a href="contact.html">Kontakt</a></li>
        </ul>
      </nav>

      <main>
        <section id="impressum">
          <h1>Impressum</h1>
          <p>
            Angaben gemäß § 5 TMG:
          </p>
          <p>
            <strong>LearnIA</strong><br />
            Platzhalter Straße 123<br />
            12345 Musterstadt<br />
          </p>
          <p>
            <strong>Vertreten durch:</strong><br />
            Marco da Silva, Clara Rosenhahn, Sascha Kalnins, Stephanie Ong<br />
          </p>
          <p>
            <strong>Kontakt:</strong><br />
            E-Mail: info@platzhalter.de<br />
          </p>
          <h2>Haftungsausschluss (Disclaimer)</h2>
          <h3>Haftung für Inhalte</h3>
          <p>
            Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte
            auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach
            §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
            verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
            überwachen oder nach Umständen zu forschen, die auf eine
            rechtswidrige Tätigkeit hinweisen.
          </p>
          <p>
            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
            Informationen nach den allgemeinen Gesetzen bleiben hiervon
            unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
            Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei
            Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
            Inhalte umgehend entfernen.
          </p>
          <h3>Haftung für Links</h3>
          <p>
            Unser Angebot enthält Links zu externen Websites Dritter, auf deren
            Inhalte wir keinen Einfluss haben. Deshalb können wir für diese
            fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
            verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber
            der Seiten verantwortlich. Die verlinkten Seiten wurden zum
            Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
            Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
            erkennbar.
          </p>
          <p>
            Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist
            jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht
            zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir
            derartige Links umgehend entfernen.
          </p>
          <h3>Urheberrecht</h3>
          <p>
            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf
            diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge
            Dritter sind als solche gekennzeichnet. Die Vervielfältigung,
            Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
            Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
            jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
            sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
          </p>
          <p>
            Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt
            wurden, werden die Urheberrechte Dritter beachtet. Insbesondere
            werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie
            trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten
            wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
            Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
          </p>
          <br /><br /><br />
        </section>
      </main>
    </div>

    <footer>
      <div class="footer-content">
        <div class="language-selector">
          <button class="flag-button">
            <img
              id="selected-flag"
              src="../assets/images/de_flag.png"
              alt="Deutsch"
            />
          </button>
        </div>
        <p>
          &copy; <span id="current-year"></span> LernIA. Alle Rechte
          vorbehalten.
        </p>
      </div>
    </footer>

    <script>
      document.getElementById(
        "current-year"
      ).textContent = new Date().getFullYear();
    </script>
  </body>
</html>
