<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="language" content="de" />
    <meta name="language" content="en" />
    <meta
      http-equiv="Content-Security-Policy"
      content="
      default-src 'self'; 
      script-src 'self'; 
      style-src 'self' 'unsafe-inline'; 
      img-src 'self' data:; 
      font-src 'self' data:; 
      frame-src 'self'; 
      child-src 'self';
      connect-src 'self';"
    />
    <meta http-equiv="Permissions-Policy" content="usb=*, battery=*" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/ch4ngo88/LearnIA/main/frontend/assets/images/logo.png"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/sanitize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Über LearnIA</title>
    <meta
      name="description"
      content="Intelligente, personalisierte Lernplattform"
    />
    <meta
      name="keywords"
      content="Lernplattform, intelligente Lernplattform, personalisierte Lernplattform, Bildung, E-Learning"
    />
    <meta
      name="author"
      content="Marco da Silva, Clara Rosenhahn, Sascha Kalnins, Stephanie Ong"
    />
    <link rel="canonical" href="https://github.com/ch4ngo88/LearnIA" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="Über LearnIA" />
    <meta
      property="og:description"
      content="Intelligente, personalisierte Lernplattform"
    />
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="../assets/images/logo.png" alt="LernIA Logo" />
        </div>
      </div>
    </header>

    <div class="auth-buttons">
      <form action="login.php" method="POST">
        <button type="submit">Login</button>
      </form>
      <form action="register.php" method="POST">
        <button type="submit">Registrierung</button>
      </form>
    </div>

    <div class="main-container">
      <nav class="side-menu">
        <ul class="menu">
          <li><a href="../../index.html">Startseite</a></li>
          <li><a href="aboutus.html">Unser Team</a></li>
          <li><a href="contact.html">Kontakt</a></li>
          <li><a href="impressum.html">Impressum</a></li>
        </ul>
      </nav>

      <main>
        <section id="about">
          <h1>Über LearnIA</h1>
          <div class="about-image">
            <img
              src="../assets/images/about_learnia.webp"
              alt="Über LearnIA Bild"
            />
          </div>
          <p>
            LearnIA ist ein KI-basierter Lernassistent, der Ihnen hilft, Ihre
            Lernziele effizient zu erreichen. Unsere Plattform nutzt
            fortschrittliche künstliche Intelligenz, um den Lernprozess zu
            optimieren, individuelle Lernpläne zu erstellen und das
            Zeitmanagement zu verbessern.
          </p>
          <h2>Hauptfunktionen von LearnIA:</h2>
          <ul>
            <li>
              <strong>KI-basierter Lernassistent:</strong> Unterstützt Sie bei
              der Planung und Organisation Ihres Lernens, hilft Ihnen, Deadlines
              einzuhalten und bietet personalisierte Empfehlungen.
            </li>
            <li>
              <strong>Zeitmanagement:</strong> Überwachen Sie Ihre Fortschritte
              und erhalten Sie Erinnerungen an wichtige Termine und Fristen.
            </li>
            <li>
              <strong>Interaktive Inhalte:</strong> Nutzen Sie interaktive
              Videos, Quizze und Spiele, um Ihr Wissen zu vertiefen.
            </li>
            <li>
              <strong>Community und Forum:</strong> Tauschen Sie sich in unserem
              Forum mit anderen Lernenden über alle möglichen lernbezogenen
              Themen aus.
            </li>
          </ul>
          <h2>Unser Ziel:</h2>
          <p>
            Unser Ziel ist es, das Lernen durch den Einsatz modernster
            Technologien effektiver und zugänglicher zu machen. Mit LearnIA
            möchten wir Ihnen einen umfassenden Lernassistenten bieten, der
            Ihnen bei allen Aspekten des Lernens zur Seite steht.
          </p>
          <br /><br /><br />
        </section>
      </main>
    </div>

    <footer>
      <div class="footer-content">
        <div class="language-selector">
          <button class="flag-button">
            <img
              id="selected-flag"
              src="../assets/images/de_flag.png"
              alt="Deutsch"
            />
          </button>
        </div>
        <p>
          &copy; <span id="current-year"></span> LernIA. Alle Rechte
          vorbehalten.
        </p>
      </div>
    </footer>

    <script>
      document.getElementById(
        "current-year"
      ).textContent = new Date().getFullYear();

      function playVideo() {
        const video = document.getElementById("intro-video");
        video.play();
      }
    </script>
  </body>
</html>
