<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>

    <h1>Was willst du hochladen?</h1>
    <div class="button-container">
        <button onclick="location.href='crop_image.php'">Dokument Bereich auswählen</button>
        <button onclick="location.href='savetext.php'">Text abspeichern</button>
        <button onclick="location.href='uploadfile.php'">Datei/Dokument hochladen</button>
    </div>


    
</body>
</html>